.recipe-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 250px; 
    height: 350px; 
    background-color: #fff;
    overflow: hidden;
}

.recipe-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image-container {
    height: 70%; 
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.image-block {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the container without distortion */
    border-radius: 10px 10px 0 0;
}

.recipe-details {
    padding: 15px;
}

.recipe-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.recipe-description {
    font-size: 0.9em;
    color: #666;
    line-height: 1.4;
    height: 60px; /* Limit the height of the description */
    overflow: hidden;
}

.recipe-details a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.recipe-details a:hover {
    text-decoration: underline;
}
