@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans:wght@400;600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.recipe-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 250px;
    height: 350px;
    background-color: #fff;
    overflow: hidden;
}

.recipe-item:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image-container {
    height: 70%;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.image-block {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.recipe-details {
    padding: 15px;
}

.item-pub {
    font-size: 0.9em;
    color: #888;
    display: block;
    margin-bottom: 5px;
    font-family: 'Merriweather', serif;
}

.item-name {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    font-family: 'Merriweather', serif;
}

.recipe-button {
    display: inline-block;
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #000000;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.recipe-button:hover {
    background-color: #343f4c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
